<!--Form Handling-->
<form action="/api/users"method="post" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="Name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Enter the Name">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="Enter the Email">
        </div>

        <div class="form-group">
            <label for="Gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-4"name="gender" value="Male">
                <label for="radio-4" class="radio-label">Male</label>

            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3"name="gender" value="Female">
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="Status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-1" name="status" value="Active">
                <label for="radio-1" class="radio-label">Acive</label>

            </div>
            <div class="radio inline">
                <input type="radio" id="radio-2"name="status" value="Female">
                <label for="radio-2" class="radio-label">Inactive</label>
            </div>
        </div>

        <div class="form-group">
            <input type="file" class="btn-upload-file" name="file">Choose the Audio file.</input>
            <button type="submit" class="btn text-dark update">
                Upload and Save
            </button>
        </div>
        


    </div>
</form>